@inherits LayoutComponentBase

<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="/app.css" rel="stylesheet" />
    <title>Restaurant</title>
</head>
<body>
    @Body
</body>
</html>