<nav class="navigation">
    <NavLink class="nav-item" href="/booking" ActiveClass="active" Match="NavLinkMatch.All">
        Booking
    </NavLink>
    <NavLink class="nav-item" href="/menu" ActiveClass="active" Match="NavLinkMatch.All">
        Menu
    </NavLink>
    <NavLink class="nav-item" href="/delivery" ActiveClass="active" Match="NavLinkMatch.All">
        Delivery
    </NavLink>
</nav>
