<nav class="navigation">
    <NavLink class="nav-item" href="/booking" ActiveClass="active" Match="NavLinkMatch.All">
        Бронирование
    </NavLink>
    <NavLink class="nav-item" href="/menu" ActiveClass="active" Match="NavLinkMatch.All">
        Меню
    </NavLink>
    <NavLink class="nav-item" href="/delivery" ActiveClass="active" Match="NavLinkMatch.All">
        Доставка
    </NavLink>
</nav>
