@page "/"
@rendermode InteractiveServer

<NavLink class="corner-link corner-link-left animate-corner-left" href="/contact-info">
    ул. Пушкина, д. 10
</NavLink>

<NavLink class="corner-link corner-link-right animate-corner-right" href="/contact-info">
    +7 (495) 123-45-67
</NavLink>

<div class="container">
    <h1 class="restaurant-title">
        <span class="letter-animate" style="animation-delay: 0s;">R</span><span class="letter-animate" style="animation-delay: 0.1s;">e</span><span class="letter-animate" style="animation-delay: 0.2s;">s</span><span class="letter-animate" style="animation-delay: 0.3s;">t</span><span class="letter-animate" style="animation-delay: 0.4s;">a</span><span class="letter-animate" style="animation-delay: 0.5s;">u</span><span class="letter-animate" style="animation-delay: 0.6s;">r</span><span class="letter-animate" style="animation-delay: 0.7s;">a</span><span class="letter-animate" style="animation-delay: 0.8s;">n</span><span class="letter-animate" style="animation-delay: 0.9s;">t</span>
    </h1>
</div>

<div class="navigation-container animate-navigation">
    <Navigation />
</div>