@page "/"
@rendermode InteractiveServer

<div class="container">
    <h1 class="restaurant-title">Restaurant</h1>
</div>

<div class="navigation-container">
    <NavLink class="side-nav-item" href="/address" ActiveClass="active" Match="NavLinkMatch.All">
        Address
    </NavLink>

    <Navigation />

    <NavLink class="side-nav-item" href="/contacts" ActiveClass="active" Match="NavLinkMatch.All">
        Contacts
    </NavLink>
</div>