@page "/"
@rendermode InteractiveServer

<NavLink class="corner-link corner-link-left" href="/contact-info">
    ул. Пушкина, д. 10
</NavLink>

<NavLink class="corner-link corner-link-right" href="/contact-info">
    +7 (495) 123-45-67
</NavLink>

<div class="container">
    <h1 class="restaurant-title">Restaurant</h1>
</div>

<div class="navigation-container">
    <Navigation />
</div>